@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: local("Playfair Display Regular"), local("PlayfairDisplay-Regular"),
    url("../font/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: local("Playfair Display Bold"), local("PlayfairDisplay-Bold"),
    url("../font/PlayfairDisplay-Bold.ttf") format("truetype");
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}
img {
  width: 100%;
}

main {
  padding: 5rem 0 8rem;
  position: relative;
}

.backgroundBox {
  background-color: #f1eae5;
  width: 65%;
  height: 450px;
  position: absolute;
  right: 0;
  top: 0;
}




